# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependency folders
vendor/

# Temporary files
*.tmp
*.swp